# Asthma and Pollution Exploratory Data Analysis
Ainsley Atherton, Nikki La, Jordan Ledbetter, Palaniappan Vijay Sithambaram

In [15]:
#Packages
import pandas as pd

## Datasets

In [16]:
#Read in the data

#Asthma
folder_path = 'CDC_Asthma_Data'
asthma_prev = pd.read_csv(folder_path + '/Adult_Asthma_prev2018-2021/data_180748.csv')
asthma_hosp = pd.read_csv(folder_path + '/Asthma_Hospitalizations2000-2021/data_181454.csv')
asthma_er = pd.read_csv(folder_path + '/ER_visits_Asthma2000-2021/data_181211.csv')

In [18]:
#EPA Data (will probably want to merge these into one dataset)
AQI_folder_path = 'CDC_Asthma_Data/AQI_data'
AQI2000 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2000.csv')
AQI2001 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2001.csv')
AQI2002 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2002.csv')
AQI2003 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2003.csv')
AQI2004 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2004.csv')
AQI2005 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2005.csv')
AQI2006 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2006.csv')
AQI2007 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2007.csv')
AQI2008 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2008.csv')
AQI2009 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2009.csv')
AQI2010 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2010.csv')
AQI2011 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2011.csv')
AQI2012 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2012.csv')
AQI2013 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2013.csv')
AQI2014 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2014.csv')
AQI2015 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2015.csv')
AQI2016 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2016.csv')
AQI2017 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2017.csv')
AQI2018 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2018.csv')
AQI2019 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2019.csv')
AQI2020 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2020.csv')
AQI2021 = pd.read_csv(AQI_folder_path + '/annual_aqi_by_county_2021.csv')

### Asthma Prevalence

In [10]:
asthma_prev.shape
print(asthma_prev.head())

   StateFIPS    State  CountyFIPS   County  Year  Value  Data Comment  \
0          1  Alabama        1001  Autauga  2018   10.2           NaN
1          1  Alabama        1001  Autauga  2019    9.7           NaN
2          1  Alabama        1001  Autauga  2020    9.8           NaN
3          1  Alabama        1001  Autauga  2021   10.2           NaN
4          1  Alabama        1003  Baldwin  2018    9.6           NaN

  95% Confidence Interval  Confidence Interval Low  Confidence Interval High  \
0            (9.6 - 10.8)                      9.6                      10.8
1            (9.2 - 10.3)                      9.2                      10.3
2            (9.4 - 10.4)                      9.4                      10.4
3            (8.9 - 11.6)                      8.9                      11.6
4            (9.1 - 10.2)                      9.1                      10.2

   Unnamed: 10
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

### Hospitalizations due to Asthma

In [11]:
print(asthma_hosp.head())
df = asthma_hosp.sort_values(by = 'Year', ascending = True)
df

   StateFIPS    State  CountyFIPS  County  Year Value Data Comment  Unnamed: 7
0          4  Arizona        4001  Apache  2005   7.2          NaN         NaN
1          4  Arizona        4001  Apache  2006   4.8          NaN         NaN
2          4  Arizona        4001  Apache  2007   3.6          NaN         NaN
3          4  Arizona        4001  Apache  2008   5.1          NaN         NaN
4          4  Arizona        4001  Apache  2009   5.6          NaN         NaN

,StateFIPS,State,CountyFIPS,County,Year,Value,Data Comment,Unnamed: 7
20101,35,New Mexico,35013,Dona Ana,2000,6.1,NaN,NaN
22114,37,North Carolina,37015,Bertie,2000,22.9,NaN,NaN
22103,37,North Carolina,37013,Beaufort,2000,22.7,NaN,NaN
3537,12,Florida,12081,Manatee,2000,11.7,NaN,NaN
22092,37,North Carolina,37011,Avery,2000,12.1,NaN,NaN
...,...,...,...,...,...,...,...,...
20232,35,New Mexico,35023,Hidalgo,2021,0.0,NaN,NaN
20254,35,New Mexico,35025,Lea,2021,3.2,NaN,NaN
20276,35,New Mexico,35027,Lincoln,2021,Suppressed,Unstable,NaN
20166,35,New Mexico,35017,Grant,2021,Suppressed,Unstable,NaN
33477,55,Wisconsin,55141,Wood,2021,1.2,Unstable,NaN

### ER visits due to Asthma

In [33]:
print(asthma_er.head())

   StateFIPS    State  CountyFIPS  County  Year Value Data Comment  Unnamed: 7
0          4  Arizona        4001  Apache  2005  31.0          NaN         NaN
1          4  Arizona        4001  Apache  2006  21.1          NaN         NaN
2          4  Arizona        4001  Apache  2007  21.1          NaN         NaN
3          4  Arizona        4001  Apache  2008  20.2          NaN         NaN
4          4  Arizona        4001  Apache  2009  44.0          NaN         NaN

### Air Quality

In [19]:
# Merge AQI data from 2000 - 2019
all_aqi_data = pd.concat([AQI2000, AQI2001, AQI2002, AQI2003, AQI2004, AQI2005, AQI2006, AQI2007, AQI2008, AQI2009, AQI2010,
                          AQI2011, AQI2012, AQI2013, AQI2014, AQI2015, AQI2016, AQI2017, AQI2018, AQI2019], ignore_index=True)

In [20]:
# Find NaN values
nan_values = all_aqi_data.isna().sum()
print(nan_values)
print(all_aqi_data.shape)

State                                  0
County                                 0
Year                                   0
Days with AQI                          0
Good Days                              0
Moderate Days                          0
Unhealthy for Sensitive Groups Days    0
Unhealthy Days                         0
Very Unhealthy Days                    0
Hazardous Days                         0
Max AQI                                0
90th Percentile AQI                    0
Median AQI                             0
Days CO                                0
Days NO2                               0
Days Ozone                             0
Days PM2.5                             0
Days PM10                              0
dtype: int64
(21471, 18)

In [21]:
all_aqi_data
all_aqi_data = all_aqi_data.sort_values(by = ['County', 'Year'], ascending = True)
all_aqi_data

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
861,South Carolina,Abbeville,2000,219,98,89,29,3,0,0,159,105,54,0,0,219,0,0
1975,South Carolina,Abbeville,2001,234,124,79,30,1,0,0,164,105,50,0,0,234,0,0
3100,South Carolina,Abbeville,2002,235,127,71,29,8,0,0,192,126,49,0,0,235,0,0
4226,South Carolina,Abbeville,2003,224,153,60,11,0,0,0,150,93,44,0,0,224,0,0
5357,South Carolina,Abbeville,2004,220,159,53,8,0,0,0,150,80,42,0,0,220,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16367,Arizona,Yuma,2015,365,260,91,13,0,1,0,266,77,43,0,0,212,20,133
17408,Arizona,Yuma,2016,366,228,124,12,1,0,1,419,77,46,0,0,213,43,110
18438,Arizona,Yuma,2017,365,241,110,12,1,1,0,235,72,45,0,0,209,50,106
19467,Arizona,Yuma,2018,365,239,110,15,1,0,0,169,80,45,0,0,235,33,97
20489,Arizona,Yuma,2019,365,265,97,3,0,0,0,129,67,45,0,0,273,42,50

In [22]:
nan_values = all_aqi_data.isna().sum()
print(nan_values)

State                                  0
County                                 0
Year                                   0
Days with AQI                          0
Good Days                              0
Moderate Days                          0
Unhealthy for Sensitive Groups Days    0
Unhealthy Days                         0
Very Unhealthy Days                    0
Hazardous Days                         0
Max AQI                                0
90th Percentile AQI                    0
Median AQI                             0
Days CO                                0
Days NO2                               0
Days Ozone                             0
Days PM2.5                             0
Days PM10                              0
dtype: int64